.articles-container {
  display: flex;
	flex-wrap: wrap;
  width: 100%;
}

.article-img {
  max-width: 300px;
  object-fit: fill;
}

/* photo article */

.photo-container {
  position: relative;
  transform-origin: center;
  transition: all 0.5s ease;
  transform: translateX(var(--x-position)) rotate(var(--rotate)) scale(var(--scale));
  max-height: 400px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.photo-container:hover {
  transition: all 0.5s ease;
  transform: translateX(var(--x-position)) rotate(0) scale(1.2);
  z-index: 999 !important;
}

.photo-frame {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.photo-image {
  position: absolute;
  width: 100%;
  padding: 5px;
}

.photo-text {
  font-family: afterglow;
  font-size: medium;
  text-wrap: wrap;
  position: absolute;
  bottom: 0px;
  padding: 15px;
}