section.main {
  height: 100%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-content: flex-start;
}

.main-header {
  flex: 1 0 100%;
  order: -1;
}

.main-side {
  min-width: 20px;
  flex-grow: 1;
}

.main-content {
  max-width: 1200px;
  flex-grow: 2;
  width: 100%;
}